* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: #172026;
}

body {
    background-color: #5fcdd9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    height: auto;
    width: 500px;
    padding: 24px;
    background-color:#172026;
    border-radius: 12px;
}

.calculator input {
    text-align: right;
    height: 100px;
    width: 100%;
    margin: 4px;
    border-radius: 12px;
    background-color: aliceblue;
    border: 0px;
    font-size: 2rem;
}

.calculatorButtons {
    height: auto;
    display: grid;
    grid-template-columns: 116px 116px 116px 116px;
    grid-template-rows: 80px 80px 80px 80px 80px;
}

.calculatorButtons button {
    background-color: aliceblue; 
    margin: 4px;
    border: 0px;
    border-radius: 12px;
}

.calculatorButtons button:hover {
    background-color:#04bf9d;
}

.operator,
.percent,
.backspace {
    background-color: rgb(188, 194, 199) !important;
}

.operator:hover,
.percent:hover,
.backspace:hover {
    background-color: #04bfad !important;
}

.sendClass, .clearClass{
    background-color: #027373 !important;
}

.sendClass:hover, .clearClass:hover{
    background-color: #04bfad !important;
}