* {
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    height: auto;
    width: 500px;
    padding: 24px;
    background-color:cornflowerblue;
    border-radius: 12px;
}

.calculator input {
    text-align: right;
    height: 100px;
    width: 100%;
    margin: 4px;
    border-radius: 12px;
    background-color: aliceblue;
    border: 0px;
    font-size: 2em;
}

.calculatorButtons {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px 80px 80px 80px;
}

.calculatorButtons button {
    background-color: aliceblue;
    margin: 4px;
    border: 0px;
    border-radius: 12px;
}

.calculatorButtons button:hover {
    background-color:beige;
}

.sendClass, .clearClass{
    background-color:coral !important;
}

.sendClass:hover, .clearClass:hover{
    background-color: rgb(197, 98, 62)!important;
}